      <!-- Início da coluna do Perfil -->
      <div class="col-sm-3 p-0 ">
       <div class="border rounded-top-penochao rounded-bottom-penochao">
        <div class="row m-0">
            <div class="col d-flex justify-content-center p-0">
                <!-- Banner Profile-->
                <div>
                    <img class="rounded-top-penochao bg-profile" src="/images/gramado-bkg.png">
                </div>
              </div>
        </div>
        <div class="row m-0">
            <div class="col d-flex justify-content-center mb-2 p-0">
                <!-- Foto profile -->
                <% if(jogadorLogado.path == null) { jogadorLogado.path="avatarLogado.jpg"} %>
                <div class="foto-perfil"  style="background-image: url('/images/midias/<%=jogadorLogado.path%>');">
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row ">
            <div class="col p-0">
              <!--  aqui renderiza nome do jogador logado   jogador.nome esta vindo do res.locals.jogador
               da pasta configs/auth  -->
               
                <h5 class="text-center"><%= jogadorLogado.nome %></h5>

                <p class="text-center"><%= jogadorLogado.posicaoJogador %></p>
                <% let capitao = times.find((time) => time.jogadores_id == jogadorLogado.id) %>
              <% let frase; let action; if(capitao) { frase = "Editar time"; action = "editar/" + jogadorLogado.times_id; } else { frase = "Seja um Capitão!"; action = "cadastro" } %>

              <hr>

              <div class="col d-flex justify-content-center mb-3">
                <a class="col-9 btn-form m-0 d-flex justify-content-between" href="/time/<%= action %>">
                  <img src="/images/faixa.PNG" alt="Seja um Capitão" class="btn-icon mt-1 mb-1">
                  <p class="text-center mt-2 mb-2" ><%= frase %></p>
                </a>
              </div>
              <div class="col d-flex justify-content-center mb-3">
                <a class="col-9 btn-form m-0 d-flex justify-content-around" href="/atualizar">
                  <img src="/images/academia.png" alt="Atualizar Perfil" class="btn-icon2 mt-1 mb-1">
                  <p class="text-center mt-2 mb-2" >Editar Perfil</p>
                </a>
              </div>
                <!-- <h5 class="text-center">Estatísticas</h5> -->
            </div>
          </div>
          <!--- estatistas em partilas -->
        </div>
      </div> 
      </div>
      <!-- Fim da coluna do Perfil -->