<!-- Início da coluna 3 - Resultados -->
<div
  class="col-sm-3 p-0 m-0 justify-content-center">
  
  <div>  
  <%# console.log(times) %>
  <% let meuTime = times.find((time) => time.jogadores_id == jogador.id) %>
  <% let oculta; let escudoMeuTime; %>
  <% if(meuTime == undefined) { escudoMeuTime = ""; oculta="d-none"; meuTime = { nome: ""} ;} else {  oculta="" ; escudoMeuTime = meuTime.MidiasTimes[0].path}  %>
  
  <div class="container-fluid p-2 border-penochao border-penochao-mobile rounded-top-penochao rounded-bottom-penochao mb-3 pb-3 px-4 <%= oculta %>">
    <a href="/time/exibir/<%= meuTime.id %>">
    <div class="mt-2">
      <% jogador.nome = jogador.nome.split(" ") %>
      <h5 class="text-center" style="color:black"; font-size: 100%;>Este Time pertence a <%= jogador.nome[0] %></h5>
    </div>
    <!--Divi das escudo do meu Time-->
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
          <img src="/images/midias/<%= escudoMeuTime %>" width="50%">
        </div>
    </div>
    <div class="row mt-2">
      <div class="col d-flex justify-content-center">
        <a href="/time/exibir/<%= meuTime.id %>" style="color:black"> <%= meuTime.nome %> </a>
      </div>
    </div>
  </a>
  </div>
  
 <!-- Div dos jogadores seguidos  -->
 <% if(perfilSeguido != "" ) {%> 
  <div class="container-fluid p-2 border-penochao border-penochao-mobile rounded-top-penochao rounded-bottom-penochao mb-3 pb-3 px-4">
 
   <div class="mt-2 text-center">
     <h5 class="text-center-titulo">Seguindo</h5>
   </div>
   <!--Divi das fotos dos jogadores-->
   <div class="row mt-3 justify-content-around">
     <% perfilSeguido.forEach(seguido => { %>
       
     <div class="d-flex col-12 col-md-4 align-items-center flex-column bd-highlight">
       <div class="row  p-2 bd-highligh justify-content-center foto-perfil-jogadores m-0" style="background-image: url('/images/midias/<%=seguido.Jogador.path%>');">
       </div>
 
       <div class="row p-2 bd-highligh justify-content-center">
         <a class="font-130" href="/perfilJogador/<%=seguido.Jogador.id%>">
           <% nomeJogador = seguido.Jogador.nome.split(" ") %>
           <%= nomeJogador[0] %>
         </a>
       </div>
     </div>
    
     <% }); %>
   </div>
   
 </div>
 <% } %>

<!--Div do grado dos times destaque-->
<div class="container-fluid p-2 border-penochao border-penochao-mobile rounded-top-penochao rounded-bottom-penochao mb-3 pb-3 px-4">
  <div class="mt-2 text-center">
    <h5 class="text-center-titulo">Times</h5>
  </div>
  <!--Divi das fotos dos jogadores-->
  <div class="row mt-3 justify-content-around">
    <%# console.log(times) %>
    <% if(times != undefined) { for(let x of times) { let file = x.MidiasTimes[0].path; %>
    <%# for(let x of jogadores) { %>
    <%# if (x.id!=jogador.id){ %>
    <div class="d-flex col-12 col-md-4 align-items-center flex-column bd-highlight">
      <div class="row  p-2 bd-highligh justify-content-center foto-perfil-jogadores m-0" style="background-image: url('/images/midias/<%= file %>');">
      </div>

      <div class="row p-2 bd-highligh justify-content-center">
        <a class="font-130" href="/time/exibir/<%=x.id%>">
          <% nomeTime = x.nome.split(" ") %>
          <%= nomeTime[0] %>
        </a>
      </div>
    </div>
    <%}%>
  <% }%>
  </div>
</div>



  </div>
</div>
<!-- Fim da coluna 3 - Resultados -->