<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!--head-->
    <%- include('partials/head') %> 

  <title>Jogador</title>
</head>

<body>
    <!--Cabeçalho-->
    <%- include('partials/headerPerfilJogador') %> 
  
  <main class="container">
    <div class="row mt-3">
            
  <%- include('perfilJogadorPerfil') %>
      <%- include('perfilJogadorFeed') %>
      <%- include('perfilJogadorResultados') %>  

    </div>
  </main>
</body>
<!-- Footer-->
<%- include('partials/footer') %> 
</html>